<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%#= form.label :recipeID %>
    <%= form.number_field :recipeID , class:"form-control", placeholder: "Recipe ID" %>
  </div>
  </br>

  <div class="field form-group">
    <%#= form.label :recipeName %>
    <%= form.text_field :recipeName, class:"form-control" , placeholder: "Recipe Name"%>
  </div>
  </br>

  <div class="field form-group">
    <%#= form.label :recipeCousine %>
    <%= form.text_field :recipeCousine, class:"form-control", placeholder: "Cousine" %>
  </div>
  </br>

  <div class="field form-group">
    <%#= form.label :recipeType %>
    <%= form.text_field :recipeType, class:"form-control", placeholder: "Type" %>
  </div>
  </br>

  <div class="field form-group">
    <%#= form.label :recipeDescription %>
    <%= form.text_field :recipeDescription, class:"form-control", placeholder: "Description" %>
  </div>
  </br>
  <div class="field form-group">
    <%#= form.label :recipeDescription %>
    <%= form.number_field :user_id, id: :recipe_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit  class:"btn btn-secondary"%>
  </div>
<% end %>
