<!--<p id="notice"><%#= notice %></p>-->

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Recipeid</th>
      <th>Recipename</th>
      <th>Recipecousine</th>
      <th>Recipetype</th>
      <th>Recipedescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.recipeID %></td>
        <td><%= recipe.recipeName %></td>
        <td><%= recipe.recipeCousine %></td>
        <td><%= recipe.recipeType %></td>
        <td><%= recipe.recipeDescription %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
